<html lang="cs">
<body>
<h1>
    {if $days == 0}
        IceWarp Cloud Trial expires today
    {elseif $isExpired}
        IceWarp Cloud Trial expired {$days} days ago
    {else}
        IceWarp Cloud Trial expires in {$days} days
    {/if}
</h1>

<p>
    Hi,
</p>
<p>
    {spaceless}This is to inform you that your IceWarp Cloud Trial
        {if $days == 0}
            expires today.
        {elseif $isExpired}
            expired {$days} days ago.
        {else}
            will expire in {$days} days.
        {/if}
        <br />
    {/spaceless}
    To Learn how to convert it to production deployment, please <a href="{$queue->link->url}" title="{$queue->link->label}" target="_blank">click here</a>.
</p>
<p>
    King regards,<br />Your IceWarp team.
</p>
</body>
</html>